.principal-container {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9e9e9;
    height: calc(100vh - 128px);
    width: 100%;
    padding: 15px;
    margin-bottom: 1vw;
    margin-top: 10%;
}

@media screen and (max-width: 600px) {
    .principal-container {
        margin-top: 25%;
        margin-bottom: 30%;
    }
}

.body-container {
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #e9e9e9;
    height: 50%;
    width: 100%;
    margin-bottom: 10%;
}


.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
    width: 50%;
    height: 100%;
}

/* .picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
} */

.img {
    width: 100%;
    height: 60%;
    object-fit: contain;
}

@media (max-width: 600px) {
    .corpo {
        width: 100%;
    }

    .picture {
        display: none;
    }
}

@media (min-width:1024px) {
    .principal-container {
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.input-cep {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 44px;
    margin-bottom: 20px;
}

.input-cep input {
    width: 65%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-cep button {
    background-color: #91BF4B;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    height: 44px;
    width: 30%;
}

.input-cep button:hover {
    background-color: #0056b3;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 44px;
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    height: 44px;
}

.input-container input[type="text"][placeholder="Numero"] {
    width: 47%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    height: 44px;
    /* Ajusta a altura para ser igual à dos buttons */
}

.input-container input[type="text"][placeholder="Complemento"] {
    width: 47%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    height: 44px;
    /* Ajusta a altura para ser igual à dos buttons */
}

.button {
    padding: 12px 20px;
    /* Reduz o padding para diminuir a altura */
    background-color: #91BF4B;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    justify-content: center;
    height: 44px;
    width: 100%;

}

.button:hover {
    background-color: #0056b3;
}

.buttom-calc {
    width: 100%;
    height: 44px;
}

